.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  cursor: pointer;
}
.image-modal img {
  margin-top: 20px;
  width: auto;
  height: 90vh;
}
